body{
  margin-left: 40%;
}




.AaronCard {
  width: 460px;
  display: flex;
  border-radius: 6px;
  border: 1px solid #adc9cc;
  background-color: #ffffff;
}
img {
  width: 200px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.cardinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

p,
h2 {
  margin: 0;
}
h2 {
  padding: 10px;
}
